@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("../../public/fonts/Quicksand/Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../public/fonts/Quicksand/SemiBold.ttf");
  font-weight: 600;
}

@layer base {
  html {
    font-family: Quicksand, system-ui, sans-serif;
  }
}